/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


@import "librairie/librarie.scss";


.ligne{
	margin-bottom: 20px;
}

.banniere{
	
	width:80%;
}

section{
	box-shadow: 8px 8px 12px #AAA;
	height: auto;
}

.header{
		background-color : lightblue;	
	
}

a{
		text-decoration: none;
}

#header{
	
	display: inline-block;
}

#nav_header{
	
	display:inline-block;
}

.menu{
	
	display: inline-block;	
	/*padding: 42px;
	height: 110px;*/
	text-decoration:none;
}

.menu:hover{
	
	font-size:1.1em;
}


.titre{
	
	font-weight: bold;
	font-size: 3em;
	color: #FFF;
	font-family: verdana;
	padding: 22px;
	text-shadow: 3px 3px #AAA;
}
@media screen and (max-width: 1024px){

header{

	height: 300px;
	font-size:1em;
}

input{
	display:none;
}

#header{
	
	display: block;

}

#nav_header{
	
	display: block;
}

.menu{
	
	display: inline-block;
	/*border-right: 1px solid #D3D3D3;	
	padding: 42px;
	height: 110px;*/
	text-decoration:none;
}

li{

	border: 3px double black;
}
.span-4{

	width: 100%;
}

.offset-2{

	margin: 0;
}

.mobile_center{

	text-align: center;
}

}
/***HOMEPAGE***/
article{
	/*border: 2px solid red;*/
}

.sep{
	width: 80%;
	color: #aaa;
	clear: both;
}

.img-home{
	width: 30%;
	float: left;
	margin-left: 30%;
	padding-bottom: 5px;
	display: inline-block;
}

.div-p{
	display: inline-block;
	margin-top: 7%;
	font-size: 1.3em;
}

.price-ad{
	clear: both;
	font-size: 3em;
}

#test{
	background-color: #aaa;
}

@media screen and (max-width: 1300px){

	 section{
		width: 100%;
	}


	.sep{
		width: 100%;
		color: #aaa;
		clear: both;
	}

	.img-home{
		display: block;
		float: none;
	}

	.div-p{
		display: block;
		font-size: 2em;
	}

	.cat-ad{
		text-align: center;
	}

	.geo-ad{
		text-align: center;
	}

	.price-ad{
		clear: both;
		font-size: 1.5em;
	}
	
}


/***CONSULT***/
.title-ad-consult{
	font-size: 4em;
	text-align: center;
}

.img-consult{
	width: 60%;
}

.price-ad-consult{

}

.treebut{
	margin-left: 40%;
}

button{
	margin-bottom: 10px;
	text-align: left;
}







label {
	
	display: block;
	width: 150px;
	float: left;
}



select{

	width:30.5%;
	margin: 4px 0px;

}

article#form{
	
	height:300px;
	padding: 48px;
	

}

article#formadd {
    height: 387px;
    padding: 48px;
    
}



.annonce {

    height: 575px;
    border: 1px solid #CCC;
 	border-radius: 1em;
}

.action_annonce {
		
	height: 300px;
    border: 1px solid #CCC;
 	border-radius: 1em;
}

.detail_annonce {
	
	height: 150px;
	border: 1px solid #CCC;
 	border-radius: 1em;
}



form{

border: 1px solid #CCC;
 border-radius: 1em;
	

}

section{
	
	
 	margin: 15px 0px;
 	    height: 100%;
 	    box-shadow: 8px 8px 12px #AAA;

}

img{
	
	width: 80%;
	border: 1px solid #CCC;
 	padding: 14px;
}




.banniere{
	
width:90%;
margin: -9px;
}

.soustitre{

	font-size: 2em;

}





@media screen and (max-width: 640px) {

	
.annonce{
	
	width: 83%;
	display : block;
	margin: 59px;
}

.banniere{
	
	width:92%;
}

li{
	
	margin : 0px  30px;
}
	
header{
	
	width:100%;
}


.action_annonce{
	
	width: 83%;
	margin: 0px auto;
	display: block;
	margin : 0px 55px;

}

input{
	

	width:100%;
	margin : 0;
}


a{
	display:block;	

}

article:first-child{
	
	padding-top: 118px;
}
}