
@import "librairie/librarie.scss";

html, body {
  margin : 0;
  padding : 0;
  height : 100%;
}


#wrapper {
  position : relative; /* référent du footer */
  min-height : 100%;
}


.ligne{
	margin-bottom: 20px;
}

.banniere{
	
	width:80%;
}

section{
	box-shadow: 8px 8px 12px #AAA;
	height: auto;
}

.header{
		background-color : lightblue;	
	
}
.footer{
	position: relative;
	margin: 0px auto;
	margin-top:96px;
}


a{
		text-decoration: none;
}

#header{
	
	display: inline-block;
}

#nav_header{
	
	display:inline-block;
}

.menu{
	
	display: inline-block;	
	/*padding: 42px;
	height: 110px;*/
	text-decoration:none;
}

.menu:hover{
	
	font-size:1.1em;
}


.titre{
	
	font-weight: bold;
	font-size: 2.6em;
	color: #FFF;
	font-family: verdana;
	padding: 22px;
	text-shadow: 3px 3px #AAA;
}



/***HOMEPAGE***/
article{
	/*border: 2px solid red;*/
}

.sep{
	width: 80%;
	color: #aaa;
	clear: both;
}

.img-home{
	width: 30%;
	float: left;
	margin-left: 30%;
	padding-bottom: 5px;
	display: inline-block;
}

.div-p{
	display: inline-block;
	margin-top: 7%;
	font-size: 1.3em;
}

.price-ad{
	clear: both;
	font-size: 3em;
}

#test{
	background-color: #aaa;
}


/***CONSULT***/
.title-ad-consult{
	font-size: 4em;
	text-align: center;
}

.img-consult{
	width: 60%;
}

.price-ad-consult{

}



button{
	margin-bottom: 10px;
	text-align: left;
}



label {
	
	display: block;
	width: 150px;
	
	margin-bottom: 10px;

}



select{

	width:30.5%;
	margin: 4px 0px;

}

article#form{
	
	height:300px;
	padding: 48px;
	

}

article#formadd {
    height: 387px;
    padding: 48px;
    
}



.annonce {

    height: 575px;
    border: 1px solid #CCC;
 	border-radius: 1em;
}

.action_annonce {
		
	height: 300px;
    border: 1px solid #CCC;
 	border-radius: 1em;
}

.detail_annonce {
	
	height: 150px;
	border: 1px solid #CCC;
 	border-radius: 1em;
}



form{

border: 1px solid #CCC;
 border-radius: 1em;
	

}

section{
	
	
 	margin: 15px 0px;
 	    height: 100%;
 	    box-shadow: 8px 8px 12px #AAA;

}

img{
	
	width: 80%;
	border: 1px solid #CCC;
 	padding: 14px;
}




.banniere{
	
width:90%;
margin: -9px;
}

.soustitre{

	font-size: 2em;

}




/**HOMEPAGE portrait **/
@media screen and (max-width: 360px) and (orientation : portrait) {

	header{

		height: 50%;
	}

	h1.titre{

		font-size: 2.5em;
	}

	input{
		display:none;
	}

	#header{
		
		display: block;

	}

	#nav_header{
		
		display: block;
	}

	.menu{
		
		display: inline-block;
		/*border-right: 1px solid #D3D3D3;	
		padding: 42px;
		height: 110px;*/
		text-decoration:none;
		font-size:1em;
	}

	.menu:hover{
		
		font-size:1.1em;
	}

	li{

		border: 3px double black;

	}

	h1{

		font-size: 3em;
	}

	.span-4{

		width: 100%;
	}

	.offset-2{

		margin: 0;
	}

	.mobile_center{

		text-align: center;
	}

	label {
		
		display: block;
		width: 150px;

		margin-bottom: 10px;

	}

	p{
		
		font-size : 1.2em;
		white-space:normal;
	}

	article{
		
		padding-left : 10px;
		padding-right: 10px;
	}



	section{
		width: 100%;
	}


	.sep{
		width: 100%;
		color: #aaa;
		clear: both;
	}

	.img-home{
		display: block;
		float: none;
		width: 75%;
		margin-left: 7%;
	}

	.div-p{
		display: block;
		font-size: 1.1em;
	}

	.cat-ad{
		text-align: center;
	}

	.geo-ad{
		text-align: center;
	}

	.price-ad{
		clear: both;
		font-size: 1.8em;
	}

	.sep {

		width:70%;
	}

	label.col.span-2{

		display:block;
		width:100%;
		font-size: 1.2em;
	}

	input.col.span-3{
		width:70%;
		height:55px;
		font-size:1em;
	}

	select.col.span-3 {

			width:70%;
			height:55px;
			font-size:1em;
	}
	textarea.col.span-3 {
		width:70%;
		height:100px;
		font-size: 1em;
	}

	div.ligne{

		width:100%;
	}

	.footer{
		margin:0 auto;
		top:550px;
		position:relative;
		
	}


	input[type="submit"]{

	margin: 24px;
	width: 70%;
	height: 50px;


	}
	h2{

		font-size: 1.8em;
		margin-bottom: 30px;
		white-space: nowrap;
	}
	h2#htitre{

		font-size: 1.3em;
	}

	.btn-lg {
    	
    	display:block;
    	margin: 10px auto;
    	
	}

	

	footer{
		display:none;
	}
}



/**HOMEPAGE PAYSAGE **/
@media screen and  (max-width: 550px) and (orientation : landscape) {


	header{

		height: 150px;
	}

	h1.titre{

		font-size:3em;
	}

	input{
		display:none;
	}



	#header{
		
		display: block;

	}

	#nav_header{
		
		display: block;
	}

	.menu{
		
		display: inline-block;
		/*border-right: 1px solid #D3D3D3;	
		padding: 42px;
		height: 110px;
		text-decoration:none;*/
		font-size:1.5em;
	}

	.menu:hover{
		font-size:1.6em;
	}

	li{

		border: 3px double black;
	}
	.span-4{

		width: 100%;
	}

	.offset-2{

		margin: 0;
	}

	.mobile_center{

		text-align: center;
	}

	 .span-2 {

		width: 150px;
		font-size:1.2em;
		margin-bottom: 10px;

	}

	p{
		
		font-size : 1.3em;
		white-space:normal;
	}

	article{
		
		padding-left : 10px;
		padding-right: 10px;
	}

	img.img-consult{
		
		width:75%;
		margin-right:7%;
	}

	h1{

		font-size: 3em;
	}

	 section{
		width: 100%;
	}


	.sep{
		width: 100%;
		color: #aaa;
		clear: both;
	}

	.img-home{
		display: block;
		float: none;
		width: 75%;
		margin-left: 7%;
	}

	.div-p{
		display: block;
		font-size: 1.1em;
	}

	.cat-ad{
		text-align: center;
	}

	.geo-ad{
		text-align: center;
	}

	.price-ad{
		clear: both;
		font-size: 1.8em;
	}

	.sep {

		width:70%;
	}

	label.col.span-2{

		font-size:1.5em;
	}

	.span-2{

	margin-right: 8%;
	}

	h2{

		font-size:2em;
	}


	.btn-lg {
    	
    	width:80px;
    	
	}



	footer{
		display:none;
	}

}


/**HOMEPAGE portrait **/
@media screen and (min-width: 360px) and (max-width: 800px) and (orientation : portrait) {

	header{

		height: 200px;
	}

	h1.titre{

		font-size: 2.5em;
	}

	input{
		display:none;
	}

	#header{
		
		display: block;

	}

	#nav_header{
		
		display: block;
	}

	.menu{
		
		display: inline-block;
		/*border-right: 1px solid #D3D3D3;	
		padding: 42px;
		height: 110px;*/
		text-decoration:none;
		font-size:1em;
	}

	.menu:hover{
		
		font-size:1.1em;
	}

	li{

		border: 3px double black;

	}

	h1{

		font-size: 3em;
	}

	.span-4{

		width: 100%;
	}

	.offset-2{

		margin: 0;
	}

	.mobile_center{

		text-align: center;
	}

	label {
		
		display: block;
		width: 150px;

		margin-bottom: 10px;

	}

	p{
		
		font-size : 1.2em;
		white-space:normal;
	}

	article{
		
		padding-left : 10px;
		padding-right: 10px;
	}



	section{
		width: 100%;
	}


	.sep{
		width: 100%;
		color: #aaa;
		clear: both;
	}

	.img-home{
		display: block;
		float: none;
		width: 75%;
		margin-left: 7%;
	}

	.div-p{
		display: block;
		font-size: 1.1em;
	}

	.cat-ad{
		text-align: center;
	}

	.geo-ad{
		text-align: center;
	}

	.price-ad{
		clear: both;
		font-size: 1.8em;
	}

	.sep {

		width:70%;
	}

	label.col.span-2{

		display:block;
		width:100%;
		font-size: 1.2em;
	}

	input.col.span-3{
		width:70%;
		height:55px;
		font-size:1em;
	}

	select.col.span-3 {

			width:70%;
			height:55px;
			font-size:1em;
	}
	textarea.col.span-3 {
		width:70%;
		height:100px;
		font-size: 1em;
	}

	div.ligne{

		width:100%;
	}

	.footer{
		margin:0 auto;
		top:550px;
		position:relative;
		
	}


	input[type="submit"]{

	margin: 24px;
	width: 70%;
	height: 50px;


	}
	h2{

		font-size: 1.8em;
		margin-bottom: 30px;
		white-space: nowrap;
	}
	h2#htitre{

		font-size: 1.3em;
	}

	.btn-lg {
    	
    	display:block;
    	margin: 10px auto;
    	
	}


	footer{
		display:none;
	}

}


/**HOMEPAGE PAYSAGE **/
@media screen and  (min-width: 550px) and (max-width: 1400px) and (orientation : landscape) {


	header{

		height: 200px;
	}

	input{
		display:none;

	}

	h1.titre{
		font-size: 3em;
	}

	#header{
		
		display: block;

	}

	#nav_header{
		
		display: block;
	}

	.menu{
		
		display: inline-block;
		/*border-right: 1px solid #D3D3D3;	
		padding: 42px;
		height: 110px;
		text-decoration:none;*/
		font-size:1.5em;
	}

	.menu:hover{
		font-size: 1.6em;
	}

	li{

		border: 3px double black;
	}
	.span-4{

		width: 100%;
	}

	.offset-2{

		margin: 0;
	}

	.mobile_center{

		text-align: center;
	}

	 .span-2 {

		width: 150px;
		font-size:1.2em;
		margin-bottom: 10px;

	}

	p{
		
		font-size : 1.5em;
		white-space:normal;
	}

	article{
		
		padding-left : 10px;
		padding-right: 10px;
	}

	img.img-consult{
		
		width:75%;
		margin-right:7%;
	}


	h1{

		font-size: 4em
	}

	 section{
		width: 100%;
	}


	.sep{
		width: 100%;
		color: #aaa;
		clear: both;
	}

	.img-home{
		display: block;
		float: none;
		width: 75%;
		margin-left: 7%;
	}

	.div-p{
		display: block;
		font-size: 1.1em;
	}

	.cat-ad{
		text-align: center;
	}

	.geo-ad{
		text-align: center;
	}

	.price-ad{
		clear: both;
		font-size: 2em;
	}

	.sep {

		width:70%;
	}

	label.col.span-2{

		font-size:1.5em;
	}

	.span-2{

	margin-right: 8%;
	}

	h2{

		font-size:2em;
	}

	.btn-lg {
    	
    	width:100px;
    	
	}


	footer{
		display:none;
	}
}
