/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***LIBRAIRIE-QUOTE ET BLOCKQUOTE***/
/* line 3, ../sass/librairie/_myTypos.scss */
h1 {
  color: black;
  font-size: 30px;
  font: Arial;
  font-weight: none;
  margin-bottom: 15px;
}

/* line 11, ../sass/librairie/_myTypos.scss */
h1 small {
  color: grey;
  font-size: 27px;
  font: Arial;
  font-weight: none;
}

/* line 18, ../sass/librairie/_myTypos.scss */
h1.smaller {
  color: grey;
  font-size: 27px;
  font: Arial;
  font-weight: none;
}

/* line 25, ../sass/librairie/_myTypos.scss */
h2 {
  color: black;
  font-size: 25px;
  font: Arial;
  font-weight: none;
}

/* line 32, ../sass/librairie/_myTypos.scss */
h2 small {
  color: grey;
  font-size: 22px;
  font: Arial;
  font-weight: none;
}

/* line 39, ../sass/librairie/_myTypos.scss */
h2.smaller {
  color: grey;
  font-size: 22px;
  font: Arial;
  font-weight: none;
}

/* line 46, ../sass/librairie/_myTypos.scss */
h3 {
  color: black;
  font-size: 20px;
  font: Arial;
  font-weight: none;
}

/* line 53, ../sass/librairie/_myTypos.scss */
h3 small {
  color: grey;
  font-size: 17px;
  font: Arial;
  font-weight: none;
}

/* line 60, ../sass/librairie/_myTypos.scss */
h3.smaller {
  color: grey;
  font-size: 17px;
  font: Arial;
  font-weight: none;
}

/* line 67, ../sass/librairie/_myTypos.scss */
h4 {
  color: black;
  font-size: 15px;
  font: Arial;
  font-weight: none;
}

/* line 74, ../sass/librairie/_myTypos.scss */
h4 small {
  color: grey;
  font-size: 12px;
  font: Arial;
  font-weight: none;
}

/* line 81, ../sass/librairie/_myTypos.scss */
h4.smaller {
  color: grey;
  font-size: 12px;
  font: Arial;
  font-weight: none;
}

/* line 88, ../sass/librairie/_myTypos.scss */
h5 {
  color: black;
  font-size: 10px;
  font: Arial;
  font-weight: none;
}

/* line 95, ../sass/librairie/_myTypos.scss */
h5 small {
  color: grey;
  font-size: 7px;
  font: Arial;
  font-weight: none;
}

/* line 102, ../sass/librairie/_myTypos.scss */
h5.smaller {
  color: grey;
  font-size: 7px;
  font: Arial;
  font-weight: none;
}

/* line 109, ../sass/librairie/_myTypos.scss */
h6 {
  color: black;
  font-size: 5px;
  font: Arial;
  font-weight: none;
}

/* line 116, ../sass/librairie/_myTypos.scss */
h6 small {
  color: grey;
  font-size: 2px;
  font: Arial;
  font-weight: none;
}

/* line 123, ../sass/librairie/_myTypos.scss */
h6.smaller {
  color: grey;
  font-size: 2px;
  font: Arial;
  font-weight: none;
}

/* line 130, ../sass/librairie/_myTypos.scss */
p {
  padding-bottom: 25px;
}

/* line 148, ../sass/librairie/_myTypos.scss */
.droite {
  text-align: right;
}

/* line 152, ../sass/librairie/_myTypos.scss */
.gauche {
  text-align: left;
}

/* line 156, ../sass/librairie/_myTypos.scss */
.centrer {
  text-align: center;
}

/* line 160, ../sass/librairie/_myTypos.scss */
.justifier {
  text-align: justify;
}

/* line 164, ../sass/librairie/_myTypos.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 168, ../sass/librairie/_myTypos.scss */
.minuscule {
  text-transform: lowercase;
}

/* line 3, ../sass/librairie/_myButtons.scss */
.btn {
  padding: 5px 5px 5px 5px;
  background-color: #ededed;
  color: #777777;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height: 55px;
  width: 126px;
  border: 1px solid #dcdcdc;
  font-family: Verdana;
  border-radius: 20px;
}

/* line 17, ../sass/librairie/_myButtons.scss */
.btn:hover {
  background: linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  background: center top, #dfdfdf 5%, #ededed 100;
  background-color: #dfdfdf;
  cursor: pointer;
}

/* line 22, ../sass/librairie/_myButtons.scss */
.btn:active {
  position: relative;
  top: 1px;
}

/* line 26, ../sass/librairie/_myButtons.scss */
.btn-sm {
  height: 27px;
  width: 53px;
  font-size: 7px;
}

/* line 31, ../sass/librairie/_myButtons.scss */
.btn-lg {
  height: 65px;
  width: 156px;
  font-size: 15px;
}

/* line 36, ../sass/librairie/_myButtons.scss */
.btn-blue {
  background-color: #63b8ee;
  border: 1px solid #3866a3;
  color: #14396a;
}

/* line 41, ../sass/librairie/_myButtons.scss */
.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
  cursor: pointer;
}

/* line 47, ../sass/librairie/_myButtons.scss */
.btn-green {
  background-color: chartreuse;
  border: 1px solid #83c41a;
  color: #ffffff;
}

/* line 52, ../sass/librairie/_myButtons.scss */
.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
  background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
  cursor: pointer;
}

/* line 58, ../sass/librairie/_myButtons.scss */
.btn-red {
  background-color: #fe1a00;
  border: 1px solid #d83526;
  color: #ffffff;
}

/* line 64, ../sass/librairie/_myButtons.scss */
.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
  background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
  cursor: pointer;
}

/* line 70, ../sass/librairie/_myButtons.scss */
.btn-flat {
  text-decoration: none;
  text-align: center;
  border: none;
}

/* line 76, ../sass/librairie/_myButtons.scss */
.btn-exlg {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height: 85px;
  width: 100%;
}

/* line 84, ../sass/librairie/_myButtons.scss */
.btn-fancy {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 0px 0px;
  font-size: 20px;
  border: 1px solid #2d6898;
  background-image: linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -o-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -moz-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -webkit-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -ms-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4984b4), color-stop(1, #619bcb));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotateX(20deg);
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 400;
}

/* line 121, ../sass/librairie/_myButtons.scss */
.btn-fancy:hover {
  background-image: linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -o-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -moz-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -webkit-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -ms-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4f8ebf), color-stop(1, #66a6d6));
}

/* line 137, ../sass/librairie/_myButtons.scss */
.btn-fancy:active {
  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -o-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -moz-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -webkit-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -ms-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #589acc), color-stop(1, #5a96c7));
  -webkit-transform: translate(0, 4px) rotateX(20deg);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/* line 3, ../sass/librairie/_myAlerts.scss */
.succ {
  min-width: 100%;
  color: green;
}

/* line 8, ../sass/librairie/_myAlerts.scss */
.aver {
  width: 100%;
  color: orange;
}

/* line 13, ../sass/librairie/_myAlerts.scss */
.dan {
  width: 100%;
  color: red;
}

/* line 18, ../sass/librairie/_myAlerts.scss */
.info {
  width: 100%;
  color: blue;
}

/* line 3, ../sass/librairie/_myComponents.scss */
.jumbotron {
  width: 600px;
  height: 300px;
  background-color: #d8d5d5;
  /*margin-left: 500px;*/
  padding: 50px 50px 50px 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/librairie/_myComponents.scss */
header {
  height: 111px;
  background: #bdbdbd;
  /* position: fixed;*/
  width: 100%;
  z-index: 10;
  text-align: center;
}

/* line 23, ../sass/librairie/_myComponents.scss */
footer {
  height: 111px;
  background: #bdbdbd;
  width: 100%;
  text-align: center;
}

/* line 32, ../sass/librairie/_myComponents.scss */
li {
  color: black;
  list-style-type: none;
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 39, ../sass/librairie/_myComponents.scss */
li.deco_cercle {
  color: black;
  list-style-type: none;
  background-image: url(puce_fleche.jpg);
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 47, ../sass/librairie/_myComponents.scss */
li.deco_carre {
  color: black;
  list-style-type: none;
  background-image: url(puce_carre.jpg);
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 55, ../sass/librairie/_myComponents.scss */
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove internal value;
}

/* line 33, ../sass/librairie/_myGrid.scss */
.ligne {
  display: block;
  font-size: 0;
}

/* line 38, ../sass/librairie/_myGrid.scss */
.col {
  font-size: 1rem;
  /*	float: left;*/
  display: inline-block;
  /*background-color: lightgray;*/
  text-align: center;
  vertical-align: text-top;
  width: 10.75%;
  margin-right: 2%;
  white-space: nowrap;
  box-sizing: border-box;
}

/* line 52, ../sass/librairie/_myGrid.scss */
.nomarginright {
  margin-right: 0;
}

/* line 56, ../sass/librairie/_myGrid.scss */
.nomarginleft {
  margin-left: 0;
}

/* line 60, ../sass/librairie/_myGrid.scss */
.span-2 {
  width: 23.5%;
  margin-right: 2%;
}

/* line 65, ../sass/librairie/_myGrid.scss */
.span-3 {
  width: 36.25%;
  margin-right: 2%;
}

/* line 70, ../sass/librairie/_myGrid.scss */
.span-4 {
  width: 49%;
  margin-right: 2%;
}

/* line 75, ../sass/librairie/_myGrid.scss */
.span-5 {
  width: 61.75%;
  margin-right: 2%;
}

/* line 80, ../sass/librairie/_myGrid.scss */
.span-6 {
  width: 74.5%;
  margin-right: 2%;
}

/* line 85, ../sass/librairie/_myGrid.scss */
.span-7 {
  width: 87.25%;
  margin-right: 2%;
}

/* line 90, ../sass/librairie/_myGrid.scss */
.span-8 {
  width: 100%;
  margin-right: 2%;
}

/* line 95, ../sass/librairie/_myGrid.scss */
.offset-1 {
  margin-left: 12.75%;
}

/* line 99, ../sass/librairie/_myGrid.scss */
.offset-2 {
  margin-left: 25.5%;
}

/* line 103, ../sass/librairie/_myGrid.scss */
.offset-3 {
  margin-left: 38.25%;
}

/* line 107, ../sass/librairie/_myGrid.scss */
.offset-4 {
  margin-left: 51%;
}

/* line 111, ../sass/librairie/_myGrid.scss */
.offset-5 {
  margin-left: 63.75%;
}

/* line 115, ../sass/librairie/_myGrid.scss */
.offset-6 {
  margin-left: 76.5%;
}

/* line 119, ../sass/librairie/_myGrid.scss */
.offset-7 {
  margin-left: 89.25%;
}

/* line 123, ../sass/librairie/_myGrid.scss */
.offset-8 {
  margin-left: 102%;
}

/* line 128, ../sass/librairie/_myGrid.scss */
.col:last-child {
  margin-right: 0;
}

/* line 8, ../sass/librairie/_myTags.scss */
blockquote::before {
  content: '"';
}

/* line 12, ../sass/librairie/_myTags.scss */
blockquote::after {
  content: '"';
}

/**balise code**/
/* line 16, ../sass/librairie/_myTags.scss */
code {
  content: attr(data-claire-semantic);
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  font-family: arial;
  float: right;
  margin-top: -14px;
}

/* line 25, ../sass/librairie/_myTags.scss */
.ace-monokai {
  background-color: #272822;
  color: #F8F8F2;
}

/* line 30, ../sass/librairie/_myTags.scss */
.course-content .ace_static_highlight {
  overflow: auto;
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro","Droid Sans Mono",monospace;
  font-size: 12px;
}

/* line 36, ../sass/librairie/_myTags.scss */
.ace_static_highlight .ace_line {
  clear: both;
}

/* line 40, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_gutter {
  background: none repeat scroll 0% 0% #2F3129;
  color: #8F908A;
}

/* line 44, ../sass/librairie/_myTags.scss */
.ace_meta.ace_tag, .ace-monokai .ace_storage {
  color: #F92672;
}

/* line 47, ../sass/librairie/_myTags.scss */
.ace_entity.ace_other.ace_attribute-name, .ace-monokai .ace_variable {
  color: #A6E22E;
}

/* line 50, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_entity.ace_name.ace_tag, .ace-monokai .ace_keyword, .ace-monokai .ace_meta.ace_tag, .ace-monokai .ace_storage {
  color: #F92672;
}

/* line 53, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_string {
  color: #E6DB74;
}

/**fin balise code**/
/* line 59, ../sass/librairie/_myTags.scss */
kbd {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 3, ../sass/librairie/_myDisplay.scss */
.enligne {
  display: inline;
}

/* line 7, ../sass/librairie/_myDisplay.scss */
.enbloc {
  display: block;
}

/* line 11, ../sass/librairie/_myDisplay.scss */
.enlignebloc {
  display: inline-block;
}

/* line 11, ../sass/ie.scss */
.ligne {
  margin-bottom: 20px;
}

/* line 15, ../sass/ie.scss */
.banniere {
  width: 80%;
}

/* line 20, ../sass/ie.scss */
section {
  box-shadow: 8px 8px 12px #AAA;
  height: auto;
}

/* line 25, ../sass/ie.scss */
.header {
  background-color: lightblue;
}

/* line 30, ../sass/ie.scss */
a {
  text-decoration: none;
}

/* line 34, ../sass/ie.scss */
#header {
  display: inline-block;
}

/* line 39, ../sass/ie.scss */
#nav_header {
  display: inline-block;
}

/* line 44, ../sass/ie.scss */
.menu {
  display: inline-block;
  /*padding: 42px;
  height: 110px;*/
  text-decoration: none;
}

/* line 52, ../sass/ie.scss */
.menu:hover {
  font-size: 1.1em;
}

/* line 58, ../sass/ie.scss */
.titre {
  font-weight: bold;
  font-size: 3em;
  color: #FFF;
  font-family: verdana;
  padding: 22px;
  text-shadow: 3px 3px #AAA;
}

@media screen and (max-width: 1024px) {
  /* line 69, ../sass/ie.scss */
  header {
    height: 300px;
    font-size: 1em;
  }

  /* line 75, ../sass/ie.scss */
  input {
    display: none;
  }

  /* line 79, ../sass/ie.scss */
  #header {
    display: block;
  }

  /* line 85, ../sass/ie.scss */
  #nav_header {
    display: block;
  }

  /* line 90, ../sass/ie.scss */
  .menu {
    display: inline-block;
    /*border-right: 1px solid #D3D3D3;	
    padding: 42px;
    height: 110px;*/
    text-decoration: none;
  }

  /* line 99, ../sass/ie.scss */
  li {
    border: 3px double black;
  }

  /* line 103, ../sass/ie.scss */
  .span-4 {
    width: 100%;
  }

  /* line 108, ../sass/ie.scss */
  .offset-2 {
    margin: 0;
  }

  /* line 113, ../sass/ie.scss */
  .mobile_center {
    text-align: center;
  }
}
/***HOMEPAGE***/
/* line 120, ../sass/ie.scss */
article {
  /*border: 2px solid red;*/
}

/* line 124, ../sass/ie.scss */
.sep {
  width: 80%;
  color: #aaa;
  clear: both;
}

/* line 130, ../sass/ie.scss */
.img-home {
  width: 30%;
  float: left;
  margin-left: 30%;
  padding-bottom: 5px;
  display: inline-block;
}

/* line 138, ../sass/ie.scss */
.div-p {
  display: inline-block;
  margin-top: 7%;
  font-size: 1.3em;
}

/* line 144, ../sass/ie.scss */
.price-ad {
  clear: both;
  font-size: 3em;
}

/* line 149, ../sass/ie.scss */
#test {
  background-color: #aaa;
}

@media screen and (max-width: 1300px) {
  /* line 155, ../sass/ie.scss */
  section {
    width: 100%;
  }

  /* line 160, ../sass/ie.scss */
  .sep {
    width: 100%;
    color: #aaa;
    clear: both;
  }

  /* line 166, ../sass/ie.scss */
  .img-home {
    display: block;
    float: none;
  }

  /* line 171, ../sass/ie.scss */
  .div-p {
    display: block;
    font-size: 2em;
  }

  /* line 176, ../sass/ie.scss */
  .cat-ad {
    text-align: center;
  }

  /* line 180, ../sass/ie.scss */
  .geo-ad {
    text-align: center;
  }

  /* line 184, ../sass/ie.scss */
  .price-ad {
    clear: both;
    font-size: 1.5em;
  }
}
/***CONSULT***/
/* line 193, ../sass/ie.scss */
.title-ad-consult {
  font-size: 4em;
  text-align: center;
}

/* line 198, ../sass/ie.scss */
.img-consult {
  width: 60%;
}

/* line 206, ../sass/ie.scss */
.treebut {
  margin-left: 40%;
}

/* line 210, ../sass/ie.scss */
button {
  margin-bottom: 10px;
  text-align: left;
}

/* line 221, ../sass/ie.scss */
label {
  display: block;
  width: 150px;
  float: left;
}

/* line 230, ../sass/ie.scss */
select {
  width: 30.5%;
  margin: 4px 0px;
}

/* line 237, ../sass/ie.scss */
article#form {
  height: 300px;
  padding: 48px;
}

/* line 245, ../sass/ie.scss */
article#formadd {
  height: 387px;
  padding: 48px;
}

/* line 253, ../sass/ie.scss */
.annonce {
  height: 575px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 260, ../sass/ie.scss */
.action_annonce {
  height: 300px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 267, ../sass/ie.scss */
.detail_annonce {
  height: 150px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 276, ../sass/ie.scss */
form {
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 284, ../sass/ie.scss */
section {
  margin: 15px 0px;
  height: 100%;
  box-shadow: 8px 8px 12px #AAA;
}

/* line 293, ../sass/ie.scss */
img {
  width: 80%;
  border: 1px solid #CCC;
  padding: 14px;
}

/* line 303, ../sass/ie.scss */
.banniere {
  width: 90%;
  margin: -9px;
}

/* line 309, ../sass/ie.scss */
.soustitre {
  font-size: 2em;
}

@media screen and (max-width: 640px) {
  /* line 322, ../sass/ie.scss */
  .annonce {
    width: 83%;
    display: block;
    margin: 59px;
  }

  /* line 329, ../sass/ie.scss */
  .banniere {
    width: 92%;
  }

  /* line 334, ../sass/ie.scss */
  li {
    margin: 0px  30px;
  }

  /* line 339, ../sass/ie.scss */
  header {
    width: 100%;
  }

  /* line 345, ../sass/ie.scss */
  .action_annonce {
    width: 83%;
    margin: 0px auto;
    display: block;
    margin: 0px 55px;
  }

  /* line 354, ../sass/ie.scss */
  input {
    width: 100%;
    margin: 0;
  }

  /* line 362, ../sass/ie.scss */
  a {
    display: block;
  }

  /* line 367, ../sass/ie.scss */
  article:first-child {
    padding-top: 118px;
  }
}
