@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/***LIBRAIRIE-QUOTE ET BLOCKQUOTE***/
/* line 3, ../sass/librairie/_myTypos.scss */
h1 {
  color: black;
  font-size: 30px;
  font: Arial;
  margin-bottom: 15px;
}

/* line 11, ../sass/librairie/_myTypos.scss */
h1 small {
  color: grey;
  font-size: 27px;
  font: Arial;
}

/* line 18, ../sass/librairie/_myTypos.scss */
h1.smaller {
  color: grey;
  font-size: 27px;
  font: Arial;
}

/* line 25, ../sass/librairie/_myTypos.scss */
h2 {
  color: black;
  font-size: 25px;
  font: Arial;
}

/* line 32, ../sass/librairie/_myTypos.scss */
h2 small {
  color: grey;
  font-size: 22px;
  font: Arial;
}

/* line 39, ../sass/librairie/_myTypos.scss */
h2.smaller {
  color: grey;
  font-size: 22px;
  font: Arial;
}

/* line 46, ../sass/librairie/_myTypos.scss */
h3 {
  color: black;
  font-size: 20px;
  font: Arial;
}

/* line 53, ../sass/librairie/_myTypos.scss */
h3 small {
  color: grey;
  font-size: 17px;
  font: Arial;
}

/* line 60, ../sass/librairie/_myTypos.scss */
h3.smaller {
  color: grey;
  font-size: 17px;
  font: Arial;
}

/* line 67, ../sass/librairie/_myTypos.scss */
h4 {
  color: black;
  font-size: 15px;
  font: Arial;
}

/* line 74, ../sass/librairie/_myTypos.scss */
h4 small {
  color: grey;
  font-size: 12px;
  font: Arial;
}

/* line 81, ../sass/librairie/_myTypos.scss */
h4.smaller {
  color: grey;
  font-size: 12px;
  font: Arial;
}

/* line 88, ../sass/librairie/_myTypos.scss */
h5 {
  color: black;
  font-size: 10px;
  font: Arial;
}

/* line 95, ../sass/librairie/_myTypos.scss */
h5 small {
  color: grey;
  font-size: 7px;
  font: Arial;
}

/* line 102, ../sass/librairie/_myTypos.scss */
h5.smaller {
  color: grey;
  font-size: 7px;
  font: Arial;
}

/* line 109, ../sass/librairie/_myTypos.scss */
h6 {
  color: black;
  font-size: 5px;
  font: Arial;
}

/* line 116, ../sass/librairie/_myTypos.scss */
h6 small {
  color: grey;
  font-size: 2px;
  font: Arial;
}

/* line 123, ../sass/librairie/_myTypos.scss */
h6.smaller {
  color: grey;
  font-size: 2px;
  font: Arial;

}

/* line 130, ../sass/librairie/_myTypos.scss */
p {
  padding-bottom: 25px;
}

/* line 148, ../sass/librairie/_myTypos.scss */
.droite {
  text-align: right;
}

/* line 152, ../sass/librairie/_myTypos.scss */
.gauche {
  text-align: left;
}

/* line 156, ../sass/librairie/_myTypos.scss */
.centrer {
  text-align: center;
}

/* line 160, ../sass/librairie/_myTypos.scss */
.justifier {
  text-align: justify;
}

/* line 164, ../sass/librairie/_myTypos.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 168, ../sass/librairie/_myTypos.scss */
.minuscule {
  text-transform: lowercase;
}

/* line 3, ../sass/librairie/_myButtons.scss */
.btn {
  padding: 5px 5px 5px 5px;
  background-color: #ededed;
  color: #777777;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height: 55px;
  width: 126px;
  border: 1px solid #dcdcdc;
  font-family: Verdana;
  border-radius: 20px;
}

/* line 17, ../sass/librairie/_myButtons.scss */
.btn:hover {
  background: -o-linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  background: -moz-linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  background: -webkit-linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  background: -ms-linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
  /*background: center top, #dfdfdf 5%, #ededed 100;*/
  background-color: #dfdfdf;
  cursor: pointer;
}

/* line 22, ../sass/librairie/_myButtons.scss */
.btn:active {
  position: relative;
  top: 1px;
}

/* line 26, ../sass/librairie/_myButtons.scss */
.btn-sm {
  height: 27px;
  width: 53px;
  font-size: 7px;
}

/* line 31, ../sass/librairie/_myButtons.scss */
.btn-lg {
  height: 65px;
  width: 156px;
  font-size: 15px;
}

/* line 36, ../sass/librairie/_myButtons.scss */
.btn-blue {
  background-color: #63b8ee;
  border: 1px solid #3866a3;
  color: #14396a;
}

/* line 41, ../sass/librairie/_myButtons.scss */
.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
  cursor: pointer;
}

/* line 47, ../sass/librairie/_myButtons.scss */
.btn-green {
  background-color: chartreuse;
  border: 1px solid #83c41a;
  color: #ffffff;
}

/* line 52, ../sass/librairie/_myButtons.scss */
.btn-green:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
  background: -moz-linear-gradient(center top, #a5cc52 5%, #b8e356 100%);
  background-color: #a5cc52;
  cursor: pointer;
}

/* line 58, ../sass/librairie/_myButtons.scss */
.btn-red {
  background-color: #fe1a00;
  border: 1px solid #d83526;
  color: #ffffff;
}

/* line 64, ../sass/librairie/_myButtons.scss */
.btn-red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
  background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
  cursor: pointer;
}

/* line 70, ../sass/librairie/_myButtons.scss */
.btn-flat {
  text-decoration: none;
  text-align: center;
  border: none;
}

/* line 76, ../sass/librairie/_myButtons.scss */
.btn-exlg {
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  height: 85px;
  width: 100%;
}

/* line 84, ../sass/librairie/_myButtons.scss */
.btn-fancy {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 0px 0px;
  font-size: 20px;
  border: 1px solid #2d6898;
  background-image: -o-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -moz-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -webkit-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -ms-linear-gradient(bottom, #4984b4 0%, #619bcb 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4984b4), color-stop(1, #619bcb));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: rotateX(20deg);
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 400;
}

/* line 121, ../sass/librairie/_myButtons.scss */
.btn-fancy:hover {

  background-image: -o-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -moz-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -webkit-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -ms-linear-gradient(bottom, #4f8ebf 0%, #66a6d6 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4f8ebf), color-stop(1, #66a6d6));
}

/* line 137, ../sass/librairie/_myButtons.scss */
.btn-fancy:active {
  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
 
  background-image: -o-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -moz-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -webkit-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -ms-linear-gradient(bottom, #589acc 0%, #5a96c7 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #589acc), color-stop(1, #5a96c7));
  -webkit-transform: translate(0, 4px) rotateX(20deg);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

/* line 3, ../sass/librairie/_myAlerts.scss */
.succ {
  min-width: 100%;
  color: green;
}

/* line 8, ../sass/librairie/_myAlerts.scss */
.aver {
  width: 100%;
  color: orange;
}

/* line 13, ../sass/librairie/_myAlerts.scss */
.dan {
  width: 100%;
  color: red;
}

/* line 18, ../sass/librairie/_myAlerts.scss */
.info {
  width: 100%;
  color: blue;
}

/* line 3, ../sass/librairie/_myComponents.scss */
.jumbotron {
  width: 600px;
  height: 300px;
  background-color: #d8d5d5;
  /*margin-left: 500px;*/
  padding: 50px 50px 50px 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/librairie/_myComponents.scss */
header {
  height: 111px;
  background: #bdbdbd;
  /* position: fixed;*/
  width: 100%;
  z-index: 10;
  text-align: center;
}

/* line 23, ../sass/librairie/_myComponents.scss */
footer {
  height: 111px;
  background: #bdbdbd;
  width: 100%;
  text-align: center;
}

/* line 32, ../sass/librairie/_myComponents.scss */
li {
  color: black;
  list-style-type: none;
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 39, ../sass/librairie/_myComponents.scss */
li.deco_cercle {
  color: black;
  list-style-type: none;
  background-image: url(puce_fleche.jpg);
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 47, ../sass/librairie/_myComponents.scss */
li.deco_carre {
  color: black;
  list-style-type: none;
  background-image: url(puce_carre.jpg);
  background-repeat: no-repeat;
  padding-left: 15px;
}

/* line 55, ../sass/librairie/_myComponents.scss */
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove ;
}

/* line 33, ../sass/librairie/_myGrid.scss */
.ligne {
  display: block;
  font-size: 0;
}

/* line 38, ../sass/librairie/_myGrid.scss */
.col {
  font-size: 1rem;
  /*	float: left;*/
  display: inline-block;
  /*background-color: lightgray;*/
  text-align: center;
  vertical-align: text-top;
  width: 10.75%;
  margin-right: 2%;
  white-space: nowrap;
  box-sizing: border-box;
}

/* line 52, ../sass/librairie/_myGrid.scss */
.nomarginright {
  margin-right: 0;
}

/* line 56, ../sass/librairie/_myGrid.scss */
.nomarginleft {
  margin-left: 0;
}

/* line 60, ../sass/librairie/_myGrid.scss */
.span-2 {
  width: 23.5%;
  margin-right: 2%;
}

/* line 65, ../sass/librairie/_myGrid.scss */
.span-3 {
  width: 36.25%;
  margin-right: 2%;
}

/* line 70, ../sass/librairie/_myGrid.scss */
.span-4 {
  width: 49%;
  margin-right: 2%;
}

/* line 75, ../sass/librairie/_myGrid.scss */
.span-5 {
  width: 61.75%;
  margin-right: 2%;
}

/* line 80, ../sass/librairie/_myGrid.scss */
.span-6 {
  width: 74.5%;
  margin-right: 2%;
}

/* line 85, ../sass/librairie/_myGrid.scss */
.span-7 {
  width: 87.25%;
  margin-right: 2%;
}

/* line 90, ../sass/librairie/_myGrid.scss */
.span-8 {
  width: 100%;
  margin-right: 2%;
}

/* line 95, ../sass/librairie/_myGrid.scss */
.offset-1 {
  margin-left: 12.75%;
}

/* line 99, ../sass/librairie/_myGrid.scss */
.offset-2 {
  margin-left: 25.5%;
}

/* line 103, ../sass/librairie/_myGrid.scss */
.offset-3 {
  margin-left: 38.25%;
}

/* line 107, ../sass/librairie/_myGrid.scss */
.offset-4 {
  margin-left: 51%;
}

/* line 111, ../sass/librairie/_myGrid.scss */
.offset-5 {
  margin-left: 63.75%;
}

/* line 115, ../sass/librairie/_myGrid.scss */
.offset-6 {
  margin-left: 76.5%;
}

/* line 119, ../sass/librairie/_myGrid.scss */
.offset-7 {
  margin-left: 89.25%;
}

/* line 123, ../sass/librairie/_myGrid.scss */
.offset-8 {
  margin-left: 102%;
}

/* line 128, ../sass/librairie/_myGrid.scss */
.col:last-child {
  margin-right: 0;
}

/* line 8, ../sass/librairie/_myTags.scss */
blockquote::before {
  content: '"';
}

/* line 12, ../sass/librairie/_myTags.scss */
blockquote::after {
  content: '"';
}

/**balise code**/
/* line 16, ../sass/librairie/_myTags.scss */
code {
  content: attr(data-claire-semantic);
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  font-family: arial;
  float: right;
  margin-top: -14px;
}

/* line 25, ../sass/librairie/_myTags.scss */
.ace-monokai {
  background-color: #272822;
  color: #F8F8F2;
}

/* line 30, ../sass/librairie/_myTags.scss */
.course-content .ace_static_highlight {
  overflow: auto;
  font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro","Droid Sans Mono",monospace;
  font-size: 12px;
}

/* line 36, ../sass/librairie/_myTags.scss */
.ace_static_highlight .ace_line {
  clear: both;
}

/* line 40, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_gutter {
  background: none repeat scroll 0% 0% #2F3129;
  color: #8F908A;
}

/* line 44, ../sass/librairie/_myTags.scss */
.ace_meta.ace_tag, .ace-monokai .ace_storage {
  color: #F92672;
}

/* line 47, ../sass/librairie/_myTags.scss */
.ace_entity.ace_other.ace_attribute-name, .ace-monokai .ace_variable {
  color: #A6E22E;
}

/* line 50, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_entity.ace_name.ace_tag, .ace-monokai .ace_keyword, .ace-monokai .ace_meta.ace_tag, .ace-monokai .ace_storage {
  color: #F92672;
}

/* line 53, ../sass/librairie/_myTags.scss */
.ace-monokai .ace_string {
  color: #E6DB74;
}

/**fin balise code**/
/* line 59, ../sass/librairie/_myTags.scss */
kbd {
  color: chartreuse;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 3, ../sass/librairie/_myDisplay.scss */
.enligne {
  display: inline;
}

/* line 7, ../sass/librairie/_myDisplay.scss */
.enbloc {
  display: block;
}

/* line 11, ../sass/librairie/_myDisplay.scss */
.enlignebloc {
  display: inline-block;
}

/* line 4, ../sass/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 11, ../sass/screen.scss */
#wrapper {
  position: relative;
  /* r├®f├®rent du footer */
  min-height: 100%;
}

/* line 17, ../sass/screen.scss */
.ligne {
  margin-bottom: 20px;
}

/* line 21, ../sass/screen.scss */
.banniere {
  width: 80%;
}

/* line 26, ../sass/screen.scss */
section {
  box-shadow: 8px 8px 12px #AAA;
  height: auto;
}

/* line 31, ../sass/screen.scss */
.header {
  background-color: lightblue;
}

/* line 35, ../sass/screen.scss */
.footer {
  position: relative;
  margin: 0px auto;
  margin-top: 96px;
}

/* line 42, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 46, ../sass/screen.scss */
#header {
  display: inline-block;
}

/* line 51, ../sass/screen.scss */
#nav_header {
  display: inline-block;
}

/* line 56, ../sass/screen.scss */
.menu {
  display: inline-block;
  /*padding: 42px;
  height: 110px;*/
  text-decoration: none;
}

/* line 64, ../sass/screen.scss */
.menu:hover {
  font-size: 1.1em;
}

/* line 70, ../sass/screen.scss */
.titre {
  font-weight: bold;
  font-size: 2.6em;
  color: #FFF;
  font-family: verdana;
  padding: 22px;
  text-shadow: 3px 3px #AAA;
}

/***HOMEPAGE***/
/* line 83, ../sass/screen.scss */
article {
  /*border: 2px solid red;*/
}

/* line 87, ../sass/screen.scss */
.sep {
  width: 80%;
  color: #aaa;
  clear: both;
}

/* line 93, ../sass/screen.scss */
.img-home {
  width: 30%;
  float: left;
  margin-left: 30%;
  padding-bottom: 5px;
  display: inline-block;
}

/* line 101, ../sass/screen.scss */
.div-p {
  display: inline-block;
  margin-top: 7%;
  font-size: 1.3em;
}

/* line 107, ../sass/screen.scss */
.price-ad {
  clear: both;
  font-size: 3em;
}

/* line 112, ../sass/screen.scss */
#test {
  background-color: #aaa;
}

/***CONSULT***/
/* line 118, ../sass/screen.scss */
.title-ad-consult {
  font-size: 4em;
  text-align: center;
}

/* line 123, ../sass/screen.scss */
.img-consult {
  width: 60%;
}

/* line 133, ../sass/screen.scss */
button {
  margin-bottom: 10px;
  text-align: left;
}

/* line 140, ../sass/screen.scss */
label {
  display: block;
  width: 150px;
  margin-bottom: 10px;
}

/* line 151, ../sass/screen.scss */
select {
  width: 30.5%;
  margin: 4px 0px;
}

/* line 158, ../sass/screen.scss */
article#form {
  height: 300px;
  padding: 48px;
}

/* line 166, ../sass/screen.scss */
article#formadd {
  height: 387px;
  padding: 48px;
}

/* line 174, ../sass/screen.scss */
.annonce {
  height: 575px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 181, ../sass/screen.scss */
.action_annonce {
  height: 300px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 188, ../sass/screen.scss */
.detail_annonce {
  height: 150px;
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 197, ../sass/screen.scss */
form {
  border: 1px solid #CCC;
  border-radius: 1em;
}

/* line 205, ../sass/screen.scss */
section {
  margin: 15px 0px;
  height: 100%;
  box-shadow: 8px 8px 12px #AAA;
}

/* line 214, ../sass/screen.scss */
img {
  width: 80%;
  border: 1px solid #CCC;
  padding: 14px;
}

/* line 224, ../sass/screen.scss */
.banniere {
  width: 90%;
  margin: -9px;
}

/* line 230, ../sass/screen.scss */
.soustitre {
  font-size: 2em;
}

/**HOMEPAGE portrait **/
@media screen and (max-width: 360px) and (orientation: portrait) {
  /* line 242, ../sass/screen.scss */
  header {
    height: 50%;
  }

  /* line 247, ../sass/screen.scss */
  h1.titre {
    font-size: 2.5em;
  }

  /* line 252, ../sass/screen.scss */
  input {
    display: none;
  }

  /* line 256, ../sass/screen.scss */
  #header {
    display: block;
  }

  /* line 262, ../sass/screen.scss */
  #nav_header {
    display: block;
  }

  /* line 267, ../sass/screen.scss */
  .menu {
    display: inline-block;
    /*border-right: 1px solid #D3D3D3;	
    padding: 42px;
    height: 110px;*/
    text-decoration: none;
    font-size: 1em;
  }

  /* line 277, ../sass/screen.scss */
  .menu:hover {
    font-size: 1.1em;
  }

  /* line 282, ../sass/screen.scss */
  li {
    border: 3px double black;
  }

  /* line 288, ../sass/screen.scss */
  h1 {
    font-size: 3em;
  }

  /* line 293, ../sass/screen.scss */
  .span-4 {
    width: 100%;
  }

  /* line 298, ../sass/screen.scss */
  .offset-2 {
    margin: 0;
  }

  /* line 303, ../sass/screen.scss */
  .mobile_center {
    text-align: center;
  }

  /* line 308, ../sass/screen.scss */
  label {
    display: block;
    width: 150px;
    margin-bottom: 10px;
  }

  /* line 317, ../sass/screen.scss */
  p {
    font-size: 1.2em;
    white-space: normal;
  }

  /* line 323, ../sass/screen.scss */
  article {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 331, ../sass/screen.scss */
  section {
    width: 100%;
  }

  /* line 336, ../sass/screen.scss */
  .sep {
    width: 100%;
    color: #aaa;
    clear: both;
  }

  /* line 342, ../sass/screen.scss */
  .img-home {
    display: block;
    float: none;
    width: 75%;
    margin-left: 7%;
  }

  /* line 349, ../sass/screen.scss */
  .div-p {
    display: block;
    font-size: 1.1em;
  }

  /* line 354, ../sass/screen.scss */
  .cat-ad {
    text-align: center;
  }

  /* line 358, ../sass/screen.scss */
  .geo-ad {
    text-align: center;
  }

  /* line 362, ../sass/screen.scss */
  .price-ad {
    clear: both;
    font-size: 1.8em;
  }

  /* line 367, ../sass/screen.scss */
  .sep {
    width: 70%;
  }

  /* line 372, ../sass/screen.scss */
  label.col.span-2 {
    display: block;
    width: 100%;
    font-size: 1.2em;
  }

  /* line 379, ../sass/screen.scss */
  input.col.span-3 {
    width: 70%;
    height: 55px;
    font-size: 1em;
  }

  /* line 385, ../sass/screen.scss */
  select.col.span-3 {
    width: 70%;
    height: 55px;
    font-size: 1em;
  }

  /* line 391, ../sass/screen.scss */
  textarea.col.span-3 {
    width: 70%;
    height: 100px;
    font-size: 1em;
  }

  /* line 397, ../sass/screen.scss */
  div.ligne {
    width: 100%;
  }

  /* line 402, ../sass/screen.scss */
  .footer {
    margin: 0 auto;
    top: 550px;
    position: relative;
  }

  /* line 410, ../sass/screen.scss */
  input[type="submit"] {
    margin: 24px;
    width: 70%;
    height: 50px;
  }

  /* line 418, ../sass/screen.scss */
  h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
    white-space: nowrap;
  }

  /* line 424, ../sass/screen.scss */
  h2#htitre {
    font-size: 1.3em;
  }

  /* line 429, ../sass/screen.scss */
  .btn-lg {
    display: block;
    margin: 10px auto;
  }

  /* line 438, ../sass/screen.scss */
  footer {
    display: none;
  }
}
/**HOMEPAGE PAYSAGE **/
@media screen and (max-width: 550px) and (orientation: landscape) {
  /* line 449, ../sass/screen.scss */
  header {
    height: 150px;
  }

  /* line 454, ../sass/screen.scss */
  h1.titre {
    font-size: 3em;
  }

  /* line 459, ../sass/screen.scss */
  input {
    display: none;
  }

  /* line 465, ../sass/screen.scss */
  #header {
    display: block;
  }

  /* line 471, ../sass/screen.scss */
  #nav_header {
    display: block;
  }

  /* line 476, ../sass/screen.scss */
  .menu {
    display: inline-block;
    /*border-right: 1px solid #D3D3D3;	
    padding: 42px;
    height: 110px;
    text-decoration:none;*/
    font-size: 1.5em;
  }

  /* line 486, ../sass/screen.scss */
  .menu:hover {
    font-size: 1.6em;
  }

  /* line 490, ../sass/screen.scss */
  li {
    border: 3px double black;
  }

  /* line 494, ../sass/screen.scss */
  .span-4 {
    width: 100%;
  }

  /* line 499, ../sass/screen.scss */
  .offset-2 {
    margin: 0;
  }

  /* line 504, ../sass/screen.scss */
  .mobile_center {
    text-align: center;
  }

  /* line 509, ../sass/screen.scss */
  .span-2 {
    width: 150px;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  /* line 517, ../sass/screen.scss */
  p {
    font-size: 1.3em;
    white-space: normal;
  }

  /* line 523, ../sass/screen.scss */
  article {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 529, ../sass/screen.scss */
  img.img-consult {
    width: 75%;
    margin-right: 7%;
  }

  /* line 535, ../sass/screen.scss */
  h1 {
    font-size: 3em;
  }

  /* line 540, ../sass/screen.scss */
  section {
    width: 100%;
  }

  /* line 545, ../sass/screen.scss */
  .sep {
    width: 100%;
    color: #aaa;
    clear: both;
  }

  /* line 551, ../sass/screen.scss */
  .img-home {
    display: block;
    float: none;
    width: 75%;
    margin-left: 7%;
  }

  /* line 558, ../sass/screen.scss */
  .div-p {
    display: block;
    font-size: 1.1em;
  }

  /* line 563, ../sass/screen.scss */
  .cat-ad {
    text-align: center;
  }

  /* line 567, ../sass/screen.scss */
  .geo-ad {
    text-align: center;
  }

  /* line 571, ../sass/screen.scss */
  .price-ad {
    clear: both;
    font-size: 1.8em;
  }

  /* line 576, ../sass/screen.scss */
  .sep {
    width: 70%;
  }

  /* line 581, ../sass/screen.scss */
  label.col.span-2 {
    font-size: 1.5em;
  }

  /* line 586, ../sass/screen.scss */
  .span-2 {
    margin-right: 8%;
  }

  /* line 591, ../sass/screen.scss */
  h2 {
    font-size: 2em;
  }

  /* line 597, ../sass/screen.scss */
  .btn-lg {
    width: 80px;
  }

  /* line 605, ../sass/screen.scss */
  footer {
    display: none;
  }
}
/**HOMEPAGE portrait **/
@media screen and (min-width: 360px) and (max-width: 800px) and (orientation: portrait) {
  /* line 615, ../sass/screen.scss */
  header {
    height: 200px;
  }

  /* line 620, ../sass/screen.scss */
  h1.titre {
    font-size: 2.5em;
  }

  /* line 625, ../sass/screen.scss */
  input {
    display: none;
  }

  /* line 629, ../sass/screen.scss */
  #header {
    display: block;
  }

  /* line 635, ../sass/screen.scss */
  #nav_header {
    display: block;
  }

  /* line 640, ../sass/screen.scss */
  .menu {
    display: inline-block;
    /*border-right: 1px solid #D3D3D3;	
    padding: 42px;
    height: 110px;*/
    text-decoration: none;
    font-size: 1em;
  }

  /* line 650, ../sass/screen.scss */
  .menu:hover {
    font-size: 1.1em;
  }

  /* line 655, ../sass/screen.scss */
  li {
    border: 3px double black;
  }

  /* line 661, ../sass/screen.scss */
  h1 {
    font-size: 3em;
  }

  /* line 666, ../sass/screen.scss */
  .span-4 {
    width: 100%;
  }

  /* line 671, ../sass/screen.scss */
  .offset-2 {
    margin: 0;
  }

  /* line 676, ../sass/screen.scss */
  .mobile_center {
    text-align: center;
  }

  /* line 681, ../sass/screen.scss */
  label {
    display: block;
    width: 150px;
    margin-bottom: 10px;
  }

  /* line 690, ../sass/screen.scss */
  p {
    font-size: 1.2em;
    white-space: normal;
  }

  /* line 696, ../sass/screen.scss */
  article {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 704, ../sass/screen.scss */
  section {
    width: 100%;
  }

  /* line 709, ../sass/screen.scss */
  .sep {
    width: 100%;
    color: #aaa;
    clear: both;
  }

  /* line 715, ../sass/screen.scss */
  .img-home {
    display: block;
    float: none;
    width: 75%;
    margin-left: 7%;
  }

  /* line 722, ../sass/screen.scss */
  .div-p {
    display: block;
    font-size: 1.1em;
  }

  /* line 727, ../sass/screen.scss */
  .cat-ad {
    text-align: center;
  }

  /* line 731, ../sass/screen.scss */
  .geo-ad {
    text-align: center;
  }

  /* line 735, ../sass/screen.scss */
  .price-ad {
    clear: both;
    font-size: 1.8em;
  }

  /* line 740, ../sass/screen.scss */
  .sep {
    width: 70%;
  }

  /* line 745, ../sass/screen.scss */
  label.col.span-2 {
    display: block;
    width: 100%;
    font-size: 1.2em;
  }

  /* line 752, ../sass/screen.scss */
  input.col.span-3 {
    width: 70%;
    height: 55px;
    font-size: 1em;
  }

  /* line 758, ../sass/screen.scss */
  select.col.span-3 {
    width: 70%;
    height: 55px;
    font-size: 1em;
  }

  /* line 764, ../sass/screen.scss */
  textarea.col.span-3 {
    width: 70%;
    height: 100px;
    font-size: 1em;
  }

  /* line 770, ../sass/screen.scss */
  div.ligne {
    width: 100%;
  }

  /* line 775, ../sass/screen.scss */
  .footer {
    margin: 0 auto;
    top: 550px;
    position: relative;
  }

  /* line 783, ../sass/screen.scss */
  input[type="submit"] {
    margin: 24px;
    width: 70%;
    height: 50px;
  }

  /* line 791, ../sass/screen.scss */
  h2 {
    font-size: 1.8em;
    margin-bottom: 30px;
    white-space: nowrap;
  }

  /* line 797, ../sass/screen.scss */
  h2#htitre {
    font-size: 1.3em;
  }

  /* line 802, ../sass/screen.scss */
  .btn-lg {
    display: block;
    margin: 10px auto;
  }

  /* line 810, ../sass/screen.scss */
  footer {
    display: none;
  }
}
/**HOMEPAGE PAYSAGE **/
@media screen and (min-width: 550px) and (max-width: 1400px) and (orientation: landscape) {
  /* line 821, ../sass/screen.scss */
  header {
    height: 200px;
  }

  /* line 826, ../sass/screen.scss */
  input {
    display: none;
  }

  /* line 831, ../sass/screen.scss */
  h1.titre {
    font-size: 3em;
  }

  /* line 835, ../sass/screen.scss */
  #header {
    display: block;
  }

  /* line 841, ../sass/screen.scss */
  #nav_header {
    display: block;
  }

  /* line 846, ../sass/screen.scss */
  .menu {
    display: inline-block;
    /*border-right: 1px solid #D3D3D3;	
    padding: 42px;
    height: 110px;
    text-decoration:none;*/
    font-size: 1.5em;
  }

  /* line 856, ../sass/screen.scss */
  .menu:hover {
    font-size: 1.6em;
  }

  /* line 860, ../sass/screen.scss */
  li {
    border: 3px double black;
  }

  /* line 864, ../sass/screen.scss */
  .span-4 {
    width: 100%;
  }

  /* line 869, ../sass/screen.scss */
  .offset-2 {
    margin: 0;
  }

  /* line 874, ../sass/screen.scss */
  .mobile_center {
    text-align: center;
  }

  /* line 879, ../sass/screen.scss */
  .span-2 {
    width: 150px;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  /* line 887, ../sass/screen.scss */
  p {
    font-size: 1.5em;
    white-space: normal;
  }

  /* line 893, ../sass/screen.scss */
  article {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 899, ../sass/screen.scss */
  img.img-consult {
    width: 75%;
    margin-right: 7%;
  }

  /* line 906, ../sass/screen.scss */
  h1 {
    font-size: 4em;
  }

  /* line 911, ../sass/screen.scss */
  section {
    width: 100%;
  }

  /* line 916, ../sass/screen.scss */
  .sep {
    width: 100%;
    color: #aaa;
    clear: both;
  }

  /* line 922, ../sass/screen.scss */
  .img-home {
    display: block;
    float: none;
    width: 75%;
    margin-left: 7%;
  }

  /* line 929, ../sass/screen.scss */
  .div-p {
    display: block;
    font-size: 1.1em;
  }

  /* line 934, ../sass/screen.scss */
  .cat-ad {
    text-align: center;
  }

  /* line 938, ../sass/screen.scss */
  .geo-ad {
    text-align: center;
  }

  /* line 942, ../sass/screen.scss */
  .price-ad {
    clear: both;
    font-size: 2em;
  }

  /* line 947, ../sass/screen.scss */
  .sep {
    width: 70%;
  }

  /* line 952, ../sass/screen.scss */
  label.col.span-2 {
    font-size: 1.5em;
  }

  /* line 957, ../sass/screen.scss */
  .span-2 {
    margin-right: 8%;
  }

  /* line 962, ../sass/screen.scss */
  h2 {
    font-size: 2em;
  }

  /* line 967, ../sass/screen.scss */
  .btn-lg {
    width: 100px;
  }

  /* line 974, ../sass/screen.scss */
  footer {
    display: none;
  }
}
