@mixin myAlerts(){
	
.succ{
    min-width: 100%;
    color: green;
}

.aver{
    width: 100%;
    color: orange;
}

.dan{
    width: 100%;
    color: red;
}

.info{
    width: 100%;
    color: blue;
}
	
}