@mixin myButtons(){
	
	.btn{
    padding: 5px 5px 5px 5px;
    background-color: #ededed;
    color:#777777;
    font-size:15px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    height:55px;
    width:126px;
    border:1px solid #dcdcdc;
    font-family: Verdana;
    border-radius: 20px;
	}
	.btn:hover {
	    background: linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed);
	    background: center top, #dfdfdf 5%, #ededed 100;
	    background-color:#dfdfdf;
	    cursor: pointer;
	}.btn:active {
	     position:relative;
	     top:1px;
	 }
	 .btn-sm{
	     height:27px;
	     width:53px;
	     font-size:7px;
	 }
	 .btn-lg{
	     height:65px;
	     width:156px;
	     font-size:15px;
	 }
	.btn-blue{
	    background-color: #63b8ee;
	    border:1px solid #3866a3;
	    color:#14396a;
	}
	.btn-blue:hover {
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	    background-color:#378de5;
	    cursor: pointer;
	}
	.btn-green{
	    background-color: chartreuse;
	    border:1px solid #83c41a;
	    color:#ffffff;
	}
	.btn-green:hover {
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	    background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	    background-color:#a5cc52;
	    cursor: pointer;
	}
	.btn-red{
	    background-color: #fe1a00;
	    border:1px solid #d83526;
	    color:#ffffff;

	}
	.btn-red{
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	    background-color:#ce0100;
	    cursor: pointer;
	}
	.btn-flat{
	    text-decoration:none;
	    text-align:center;
	    border: none;
	}

	.btn-exlg{
	    font-size:25px;
	    text-decoration:none;
	    text-align:center;
	    font-weight:bold;
	    height:85px;
	    width:100%;
	}
	.btn-fancy {
	    display: inline-block;
	    text-decoration: none;
	    color: #fff;
	    font-weight: bold;
	    background-color: #538fbe;
	    padding: 0px 0px;
	    font-size: 20px;
	    border: 1px solid #2d6898;
	    background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	    background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	    background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	    background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
	    background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);

	    background-image: -webkit-gradient(
	            linear,
	            left bottom,
	            left top,
	            color-stop(0, rgb(73,132,180)),
	            color-stop(1, rgb(97,155,203))
	    );
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
	    -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    -webkit-transition: all .1s ease-in-out;
	    -moz-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	    -webkit-transform: rotateX(20deg);
	    -webkit-transform-style: preserve-3d;
	    -webkit-perspective: 400;
	}

	.btn-fancy:hover {
	    background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	    background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	    background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	    background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
	    background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);

	    background-image: -webkit-gradient(
	            linear,
	            left bottom,
	            left top,
	            color-stop(0, rgb(79,142,191)),
	            color-stop(1, rgb(102,166,214))
	    );
	}

	.btn-fancy:active {
	    -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	    background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	    background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	    background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	    background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
	    background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);

	    background-image: -webkit-gradient(
	            linear,
	            left bottom,
	            left top,
	            color-stop(0, rgb(88,154,204)),
	            color-stop(1, rgb(90,150,199))
	    );
	    -webkit-transform: translate(0, 4px) rotateX(20deg);
	    -moz-transform: translate(0, 4px);
	    transform: translate(0, 4px);
		}

		button{

		}

	a{

	}
	}