@mixin myComponents(){

	.jumbotron{
	    width: 600px;
	    height: 300px;
	    background-color: rgba(216, 213, 213, 1);
	    /*margin-left: 500px;*/
	    padding: 50px 50px 50px 50px;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	}

	header {
	    height: 111px;
	    background: #bdbdbd;
	   /* position: fixed;*/
	    width: 100%;
	    z-index: 10;
	    text-align: center;
	}

	footer{

		height:111px;
		background: #bdbdbd;
		 width: 100%;
		 text-align: center;
	}

	
	li {
	    color: black;
	    list-style-type: none;
	    background-repeat: no-repeat;
	    padding-left: 15px;
	}

	li.deco_cercle {
	    color: black;
	    list-style-type: none;
	    background-image: url(puce_fleche.jpg);
	    background-repeat: no-repeat;
	    padding-left: 15px;
	}

	li.deco_carre {
	    color: black;
	    list-style-type: none;
	    background-image: url(puce_carre.jpg);
	    background-repeat: no-repeat;
	    padding-left: 15px;
	}

	fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
} 

}