
$column-width: 10.75%;
$maximum-columns: 8;

$gutter :(100 - ($column-width * $maximum-columns ) ) / ($maximum-columns - 1 );



@function nbSpan($columns, $container-columns: $maximum-columns) {
  $width: $columns * $column-width + ($columns - 1) * $gutter;
  $container-width: $container-columns * $column-width + ($container-columns - 1) * $gutter;
  @return percentage($width / $container-width);
}

@function nbOffset($nb, $column: $column-width, $gutter-width: $gutter){
	$nbcol: $nb*$column;
	$nbgutter: $nb*$gutter-width;
	@return $nbcol+$nbgutter;
}

@function gutter($container-columns: $maximum-columns, $gutter-width:
$gutter) {
  $container-width: $container-columns * $column-width + ($containercolumns - 1) * $gutter;
  @return percentage($gutter-width / $container-width);
}





@mixin myGrid(){

	.ligne{
		display:block;
		font-size: 0;
	}

	.col{
		font-size: 1rem;
	/*	float: left;*/
		display: inline-block;
		/*background-color: lightgray;*/
		text-align: center;
		vertical-align: text-top;
		width: $column-width;	
		margin-right: $gutter;
		white-space: nowrap;
		box-sizing : border-box;
		
	}

	.nomarginright{
		margin-right:0;
	}

	.nomarginleft{
		margin-left:0;
	}

	.span-2{
		width: nbSpan(2);
		margin-right: $gutter;
	}

	.span-3{
		width: nbSpan(3);
		margin-right: $gutter;
	}

	.span-4{
		width: nbSpan(4);
		margin-right: $gutter;
	}

	.span-5{
		width: nbSpan(5);
		margin-right: $gutter;
	}

	.span-6{
		width: nbSpan(6);
		margin-right: $gutter;
	}

	.span-7{
		width: nbSpan(7);
		margin-right: $gutter;
	}

	.span-8{
		width: nbSpan(8);
		margin-right: $gutter;
	}

	.offset-1{
		margin-left: nbOffset(1);
	}

	.offset-2{
		margin-left: nbOffset(2);
	}

	.offset-3{
		margin-left: nbOffset(3);
	}

	.offset-4{
		margin-left: nbOffset(4);
	}

	.offset-5{
		margin-left: nbOffset(5);
	}

	.offset-6{
		margin-left: nbOffset(6);
	}

	.offset-7{
		margin-left: nbOffset(7);
	}

	.offset-8{
		margin-left: nbOffset(8);
	}


	.col:last-child{
		margin-right: 0;
	}

@media screen and (max-width: 1000px){




}

}