


/***LIBRAIRIE-QUOTE ET BLOCKQUOTE***/

@mixin myTags(){

    blockquote::before{
        content: '"';
    }

    blockquote::after{
        content: '"';
    }
    /**balise code**/
    code{
        content: attr(data-claire-semantic);
        color: rgba(0, 0, 0, 0.3);
        font-size: 10px;
        font-family: arial;
        float: right;
        margin-top: -14px;
    }

    .ace-monokai {
        background-color: #272822;
        color: #F8F8F2;
    }

    .course-content .ace_static_highlight {
        overflow: auto;
        font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro","Droid Sans Mono",monospace;
        font-size: 12px;
    }

    .ace_static_highlight .ace_line {
        clear: both;
    }

    .ace-monokai .ace_gutter {
        background: none repeat scroll 0% 0% #2F3129;
        color: #8F908A;
    }
    .ace_meta.ace_tag, .ace-monokai .ace_storage {
        color: #F92672;
    }
    .ace_entity.ace_other.ace_attribute-name, .ace-monokai .ace_variable {
        color: #A6E22E;
    }
    .ace-monokai .ace_entity.ace_name.ace_tag, .ace-monokai .ace_keyword, .ace-monokai .ace_meta.ace_tag, .ace-monokai .ace_storage {
        color: #F92672;
    }
    .ace-monokai .ace_string {
        color: #E6DB74;
    }
    /**fin balise code**/
    pre{}

    kbd{
        color: chartreuse;
        font-family: Arial, Helvetica, sans-serif;
    }
}