@mixin myTypos(){

    h1{
        color: black;
        font-size: 30px;
        font: Arial;
        font-weight: none;
        margin-bottom: 15px;
    }

    h1 small{
        color: grey;
        font-size: 27px;
        font: Arial;
        font-weight: none;
    }

    h1.smaller{
        color: grey;
        font-size: 27px;
        font: Arial;
        font-weight: none;
    }

    h2{
        color: black;
        font-size: 25px;
        font: Arial;
        font-weight: none;
    }

    h2 small{
        color: grey;
        font-size: 22px;
        font: Arial;
        font-weight: none;
    }

    h2.smaller{
        color: grey;
        font-size: 22px;
        font: Arial;
        font-weight: none;
    }

    h3{
        color: black;
        font-size: 20px;
        font: Arial;
        font-weight: none;
    }

    h3 small{
        color: grey;
        font-size: 17px;
        font: Arial;
        font-weight: none;
    }

    h3.smaller{
        color: grey;
        font-size: 17px;
        font: Arial;
        font-weight: none;
    }

    h4{
        color: black;
        font-size: 15px;
        font: Arial;
        font-weight: none;
    }

    h4 small{
        color: grey;
        font-size: 12px;
        font: Arial;
        font-weight: none;
    }

    h4.smaller{
        color: grey;
        font-size: 12px;
        font: Arial;
        font-weight: none;
    }

    h5{
        color: black;
        font-size: 10px;
        font: Arial;
        font-weight: none;
    }

    h5 small{
        color: grey;
        font-size: 7px;
        font: Arial;
        font-weight: none;
    }

    h5.smaller{
        color: grey;
        font-size: 7px;
        font: Arial;
        font-weight: none;
    }

    h6{
        color: black;
        font-size: 5px;
        font: Arial;
        font-weight: none;
    }

    h6 small{
        color: grey;
        font-size: 2px;
        font: Arial;
        font-weight: none;
    }

    h6.smaller{
        color: grey;
        font-size: 2px;
        font: Arial;
        font-weight: none;
    }

    p{
        padding-bottom: 25px;
    }

    mark{}

    del{}

    ins{}

    u{}

    strong{}

    em{}

    abbr{}

    .droite{
    text-align : right;
    }

    .gauche{
        text-align : left;
    }

    .centrer{
        text-align : center;
    }

    .justifier{
        text-align : justify;
    }

    .majuscule{
        text-transform : uppercase;
    }

    .minuscule{
        text-transform : lowercase;
    }

}